@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'PSL-Display';
    src: url('../fonts/psl-display_0.eot');
    src: local('☺'), url('../fonts/psl-display_0.woff') format('woff'), url('../fonts/psl-display_0.ttf') format('truetype'), url('../fonts/psl-display_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{

    background: white;
}


.page{
    background:url(../img/background.jpg) no-repeat center 0 fixed;
}

.container_me{
    width:100%;
    min-width:1920px;
    height:auto;
    margin:0 auto;
    display:table;
    margin-bottom:100px;
}
.container_top{
    width:100%;
    min-width:1920px;
    margin:0 auto;
    height:180px;
}
.top{ position:fixed; top:0; width:100%; height:180px;}


.header{
    width:100%;
    height:184px;
    background:url(../img/top_bar.png) repeat center 0;
    display:block;
    margin:0 auto;
    position:relative;
}
.header_menu{
    width:240px;
    height:auto;
    display:block;
    margin:0 auto;
    position:relative;
    top:130px;
    padding-left:8px;
}
.header_menu  a{
    width:118px;
    height:43px;
    display:block;
    background-position:0 0;
    margin:0 -3px;
    float:left;
}
.header_menu  a.btn_login{ background:url(../img/top_login.png) no-repeat;}
.header_menu  a.btn_register{ background:url(../img/top_register.png) no-repeat;}
.header_menu  a:hover{ background-position:0 -45px;}

.header_menuhover{
    width:240px;
    height:auto;
    display:block;
    margin:0 auto;
    position:relative;
    top:-50px;
    padding-left:8px;
}
.header_menuhover  a{
    width:118px;
    height:43px;
    display:inline-block;
    background-position:0 0;
    margin:0 -4px;
}

.header  .header_logo{
    width:308px;
    height:auto;
    display:block;
    margin:0 auto;
    position:relative;
    top:26px;
} 
.header  .header_logo  a{
    width:308px;
    height:129px;
    display:block;
    background:url(../img/top_logo.png) no-repeat;
    background-position:0 0;
}
.header  .header_logo  a:hover{ background-position:0 -129px;}

.top_menu{
    width:1340px;
    height:auto;
    margin:0 auto;
    position:relative;
    top:-167px;
}
.top_menu_l{
    width:520px;
    height:auto;
    display:block;
    margin:0 auto;
    position:relative;
    margin-left:10px;
    float:left;
}
.top_menu_l > a{
    width:140px;
    height:55px;
    display:block;
    background-position:0 0;
    margin:0 15px;
    float:left;		
}
.top_menu_l  a.menu_1{ background:url(../img/top_menu1.png) no-repeat;}
.top_menu_l  a.menu_2{ background:url(../img/top_menu2.png) no-repeat;}
.top_menu_l  a.menu_3{ background:url(../img/top_menu3.png) no-repeat;}
.top_menu_l  a:hover{ background-position:0 -55px;}
.top_menu_l  a.active{ background-position:0 -55px;}

.top_menu_r{
    width:520px;
    height:auto;
    display:block;
    margin:0 auto;
    position:relative;
    float:right;
}
.top_menu_r  a{
    width:140px;
    height:55px;
    display:inline-block;
    background-position:0 0;
    margin:0 15px;		
}
.top_menu_r  a.menu_4{ background:url(../img/top_menu4.png) no-repeat;}
.top_menu_r  a.menu_5{ background:url(../img/top_menu5.png) no-repeat;}
.top_menu_r  a.menu_6{ background:url(../img/top_menu6.png) no-repeat;}
.top_menu_r  a:hover{ background-position:0 -55px;}
.top_menu_r  a.active{ background-position:0 -55px;}

.content_me{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    width:1000px;
    height:auto;
    margin:0 auto;
    padding-top:0px;
    display:table;
    background-color: white;
}
.content_me_l{
    width:710px;
    height:auto;
    display:block;
    float:left;
    margin:0;
    padding:0;
}
.content_me_r{
    width:290px;
    height:auto;
    display:block;
    float:right;
    margin:0;
    padding:0;
}
.content_me .board{
    width:100%;
    height:auto;
    background: rgba(0, 0, 0, .85);
    margin-top:-1px;
    display:table;
    padding:10px;
    margin-bottom:20px;
    position: relative;

    border: 1px solid #666;
    color: #000;

    -webkit-border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
}
.content_me .boardtour{
    width: 100%;
    height: 223px;
    background: url(../img/boardtour.png) no-repeat center 0;
}
.boardtour .logotour{
    width: 268px;
    height: 200px;
    margin: 10px 0 0 15px;
    display: block;
    float: left;
    overflow: hidden;
}
.boardtour .calendar{
    width: 300px;
    height: 160px;
    margin: 32px 10px 0 40px;
    display: block;
    float: left;
    background-color: #111;
    opacity: 0.8;
    filter: alpha(opacity=80);

    border: 1px solid #000;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding: 35px;
}
.boardtour .allbtn{
    width: 300px;
    height: 200px;
    margin: 10px 0 0 15px;
    display: block;
    float: left;
}
.boardtour .allbtn .typetour{
    width: 298px;
    height: 54px;
    margin: 20px auto 8px auto;
    display: block;
    background: url(../img/typetour.png) no-repeat;
}
.boardtour .allbtn .typetour h3{
    line-height: 45px;
    font-size: 24px;
}
.boardtour .allbtn .btn_view > a{
    width: 298px;
    height: 54px;
    margin: 8px auto;
    display: block;
    background-position: 0 0;
    background: url(../img/btn_view.png) no-repeat;
}
.boardtour .allbtn .btn_view a:hover{
    background-position: 0 -54px;
}
.boardtour .allbtn .btn_registour > a{
    width: 298px;
    height: 54px;
    margin: 8px auto;
    display: block;
    background-position: 0 0;
    background: url(../img/btn_registour.png) no-repeat;
}
.boardtour .allbtn .btn_registour a:hover{
    background-position: 0 -54px;
}
.boardtour .allbtn .btn_lastview > a{
    width: 298px;
    height: 104px;
    margin: 8px auto;
    display: block;
    background-position: 0 0;
    background: url(../img/btn_lastview.png) no-repeat;
}
.boardtour .allbtn .btn_lastview a:hover{
    background-position: 0 -104px;
}
.boardtour .allbtn .btn_rule{
    width: 150px;
    height: 44px;
    display: block;
    float: left;
}
.boardtour .allbtn .btn_detail{
    width: 150px;
    height: 44px;
    display: block;
    float: right;
}
.boardtour .allbtn .btn_gold{
    width:150px;
    height:44px;
    display:block;
    position:absolute;
}
.boardtour .allbtn .btn_gold .name a{
    color:#e3bd57;
    font-family: 'PSL-Display';
    font-size:22px;
    text-align:center;
    letter-spacing:1px;
    display:block;
    width:100%;
    text-decoration:none;
    position:relative;
    top:-41px;
}
.boardtour .allbtn .btn_gold .name a:hover{
    color:#FFF;
    background:url(../img/230x100_shadow1.png) center 0;
    width:94%;
    height: 44px;
    margin:0 3%;
}
.boardtour .allbtn .btn_gold a{
    width:130px;
    height:44px;
    display:block;
    float:left;
    background-position:0 0;
}

.content_me .boardcontent{
    width:100%;
    height:auto;
    background: rgba(0, 0, 0, .85);
    margin-top:-1px;
    display:table;
    padding:60px;
    margin-bottom:20px;
    position: relative;

    border: 1px solid #666;
    color: #000;

    -webkit-border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
}
.content_me .pola_gold{
    width:218px;
    height:138px;
    background:url(../img/200x120_frame_gold.png) no-repeat;
    margin:0 auto;
    padding-top:9px;
    position:relative;
}

.content_me .pola_gold img{
    margin:0 auto;
    display:block;
    max-width: 200px;
}
.content_me .pola_gold .shadow{
    width:200px;
    height:120px;
    background: url(../img/200x120_shadow.png) no-repeat;
    margin:0 auto;
    position:relative;
    top:-120px;
    cursor:pointer;
}
.content_me .pola_gold .shadow a{
    width:100%;
    height:100%;
    display:block;
}
.content_me .pola_gold .shadow a:hover{
    background:url(../img/200x120_shadow1.png) no-repeat;
}
.content_me .pola_black{
    width:218px;
    height:138px;
        background-color: white;
    margin:0 auto;
    padding-top:9px;
    position:relative;
}
.content_me .pola_black img{
    margin:0 auto;
    display:block;
    max-width: 200px;
}
.content_me .pola_black .shadow{
    width:200px;
    height:120px;
    background: url(../img/200x120_shadow.png) no-repeat;
    margin:0 auto;
    position:relative;
    top:-120px;
    cursor:pointer;
}
.content_me .pola_black .shadow a{
    width:100%;
    height:100%;
    display:block;
}
.content_me .pola_black .shadow a:hover{
    background:url(../img/200x120_shadow1.png) no-repeat;
}

.content_me .pola_black_b{
    width:968px;
    height:278px;
    background:url(../img/950x260_frame_black.png) no-repeat;
    margin:5px auto;
    padding-top:9px;
    position:relative;
}
.content_me .pola_black_b img{
    margin:0 auto;
    display:block;
}
.content_me .pola_black_b .shadow{
    width:950px;
    height:260px;
    background: url(../img/950x260_shadow.png) no-repeat;
    margin:0 auto;
    position:relative;
    top:-260px;
    cursor:pointer;
}
.content_me .pola_black_b .shadow a{
    width:100%;
    height:100%;
    display:block;
}
.content_me .pola_black_b .shadow a:hover{
    background:url(../img/950x260_shadow1.png) no-repeat;
}

.content_me .pola_black_ss{
    width:78px;
    height:78px;
    background:url(../img/60x60_frame.png) no-repeat;
    margin:0 0 0 180px;
    padding-top:9px;
    position:relative;
}
.content_me .pola_black_ss img{
    margin:0 auto;
    display:block;
    max-width: 60px;
    max-height: 60px;
}
.content_me .pola_black_ss .shadow{
    width:60px;
    height:60px;
    background: url(../img/60x60_shadow.png) no-repeat;
    margin:0 auto;
    position:relative;
    top:-60px;
    cursor:pointer;
}
.content_me .pola_black_ss .shadow a{
    width:100%;
    height:100%;
    display:block;
}
.content_me .pola_black_ss .shadow a:hover{
    background:url(../img/60x60_shadow1.png) no-repeat;
}

.content_me .highlight{
    width:710px;
    position:relative;
    display:block;
    float:left;
}
.content_me .highlight .header_highlight{
    width:100%;
    height:30px;
    background:url(../img/head_highlight.png) top center no-repeat;
}
.content_me .highlight .box{
    width:33.33%;
    float:left;
    display:block;
    position:relative;
    margin-top:10px;
}
.content_me .highlight .textbox{
    width:200px;
    height:50px;
    margin:5px auto 0 auto;
    color:white;
    font-weight:bold;
    font-size:11px;
}
.content_me .highlight .textbox p{
    height: 30px;
    overflow: hidden;
}
.content_me .highlight .line{
    width:100%;
    height:1px;
    background:url(../img/line_highlight.png) no-repeat;
    display:table;
    margin:10px 0;
}

.content_me_r{
    width:270px;
    position:relative;
    display:block;
    float:right;
}

.content_me_r .current .header{
    width:100%;
    height:30px;
    background:url(../img/head_cerrent_s.png) top center no-repeat;
}
.content_me > .current > .header{
    width:100%;
    height:50px;
    background:url(../img/head_cerrent_b.png) top center no-repeat;
}
.content_me_r .upcoming .header{
    width:100%;
    height:30px;
    background:url(../img/head_register_s.png) top center no-repeat;
}
.content_me > .upcoming > .header{
    width:100%;
    height:50px;
    background:url(../img/head_register_b.png) top center no-repeat;
}
.content_me_r .lastevent .header{
    width:100%;
    height:30px;
    background:url(../img/head_event_s.png) top center no-repeat;
}
.content_me > .lastevent > .header{
    width:100%;
    height:50px;
    background:url(../img/head_event_b.png) top center no-repeat;
}
.content_me > .halloffame > .header{
    width:100%;
    height:50px;
    background:url(../img/head_halloffame_b.png) top center no-repeat;
}

.content_me .halloffame .box{
    width:100px;
    display:inline-block;
    position:relative;
    margin-top: 5px;
}
.content_me .halloffame .box_b{
    width:300px;
    display:inline-block;
    position:relative;
    margin-top: 5px;
    text-align: center;
}
.content_me .halloffame .title{
    width: 84%;
    height: 30px;
    display:block;
    margin: 0 auto;
}
.content_me .halloffame .team{
    width: 84%;
    height: 90px;
    display:block;
    margin: 0 auto;
}
.content_me .halloffame .rank{
    width: 100px;
    height:80px;
    display:table-cell;
    vertical-align:middle;
}
.content_me .halloffame .logoteam{
    width: auto;
    height: 80px;
    display: block;
    float: left;
}
.content_me .halloffame .nameteam{
    width: 300px;
    height:80px;
    display:table-cell;
    vertical-align:middle;
}
.content_me .halloffame .point{
    width: 150px;
    height:80px;
    display:table-cell;
    vertical-align:middle;
}

.content_me_r .box{
    width:232px;
    height:123px;
    background: url(../img/230x100_frame.png) no-repeat;
    margin:8px auto 13.5px auto;
}

.content_me .frame{
    width:230px;
    height:120px;
    margin:0 auto;
    padding-top:1px;
    overflow: hidden;
}
.content_me .frame > img{
    max-height: 100px;
}
.content_me  .shadow{
    width:230px;
    height:100px;
    background: url(../img/230x100_shadow.png) no-repeat;
    margin:1px auto;
    position:relative;
    top:-120px;
    cursor:pointer;
}
.content_me  .shadow a{
    width:100%;
    height:100%;
    display:block;
}
.content_me  .shadow a:hover{
    background:url(../img/230x100_shadow1.png) no-repeat;
}
.content_me_r .textbox{
    width:220px;
    height:15px;
    margin:0 auto;
    color:#CCC;
    font-weight:bold;
    font-size:11px;
    position:relative;
    top:-117px;
    overflow: hidden;
}

.content_me .tour{
    width:100%;
    height:auto;
    display:block;
    float:left;
}
.content_me .tour .tab-menu{
    width:100%;
    height:auto;
    position:relative;
}
.content_me .tour .tab-menu ul{
    height:50px;
    padding:0;
    margin:0;
}
.content_me .tour .tab-menu li{
    width:33.33%;
    height:50px;
    display:block;
    float:left;
    background:url(../img/tab_normal.png) repeat;
    margin:0 0 -1px 0;
    cursor:pointer;

    font-family: 'PSL-Display';
    font-size:22px;
    line-height:20px;
    text-align:center;
    letter-spacing:1px;
    display:table;
    vertical-align:middle;

    border: 1px solid #666;

    -webkit-border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
}
.content_me .tour .tab-menu li a{
    color:#666;
    height:100%;
    display:table-cell;
    vertical-align:middle;
}
.content_me .tour .tab-menu li a:hover{
    color:#b5a248;
    text-decoration:none;
}

.content_me .tour .tab-menu li:hover{
    background:url(../img/tab_hover.png) repeat;
}
.content_me .tour .tab-menu li.active{
    background:url(../img/tab_hover.png) repeat;
}
.content_me .tour .tab-menu li.active a{
    color:#b5a248;
    text-decoration:none;
}
.tour a.regis_oldteam{
    width: 310px;
    height: 175px;
    display: block;
    float: left;
    background-position: 0 0;
    margin: 120px 0 120px 140px;
    background: url(../img/btn_oldteam.png) no-repeat;
    text-align: center;
}
.tour a:hover.regis_oldteam{background-position: 0 -175px;}

.tour a.regis_newteam{
    width: 310px;
    height: 175px;
    display: block;
    float: right;
    background-position: 0 0;
    margin: 120px 140px 120px 0;
    background: url(../img/btn_newteam.png) no-repeat;
}
.tour a:hover.regis_newteam{background-position: 0 -175px;}


.content_me .news{
    width:100%;
    display:block;
    float:left;
    background-color: white;
}
.content_me .news .tab-menu{
    width:100%;
    height:auto;
    position:relative;
        background-color: white;
}
.content_me .news .tab-menu ul{
    height:50px;
    padding:0;
    margin:0;
        background-color: white;
}
.content_me .news .tab-menu li{
    width:25%;
    height:50px;
    display:block;
    float:left;
    background-color: white;
    margin:0 0 -1px 0;
    cursor:pointer;

    font-family: 'PSL-Display';
    font-size:22px;
    line-height:20px;
    text-align:center;
    letter-spacing:1px;
    display:table;
    vertical-align:middle;

    border: 1px solid #666;

    -webkit-border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
}
.content_me .news .tab-menu li a{
    height:100%;
    display:table-cell;
    vertical-align:middle;
    background-color: white;
}
.content_me .news .tab-menu li a:hover{
    color:#b5a248;
    text-decoration:none;
}

.content_me .news .tab-menu li:hover{
    background-color: white;
}
.content_me .news .tab-menu li.active{
    background-color: white;
}
.content_me .news .tab-menu li.active a{
    color:#b5a248;
    text-decoration:none;
}
.content_me .news .box{
    width:33%;
    display:block;
    margin-top:10px;
}
.content_me .news .textbox{
    width:65%;
    display:block;
    margin:-15px 5px 0 0;
    color:#b5a248;
    font-weight:bold;
    font-size:11px;
    position:relative;
    top:-110px;
    float:right;
}
.content_me p {color:#CCC;}
.content_me b {color:#CCC;}
.content_me span {color:#CCC;}
.content_me .news .btn_me{
    width:160px;
    height:44px;
    display:block;
    margin:0 auto;
}
.content_me .news .btn_gold{
    width:160px;
    height:44px;
    display:block;
    position:absolute;
}
.content_me .news .btn_gold .name a{
    color:#e3bd57;
    font-family: 'PSL-Display';
    font-size:22px;
    text-align:center;
    letter-spacing:1px;
    display:block;
    width:100%;
    text-decoration:none;
    position:relative;
    top:-41px;
}
.content_me .news .btn_gold .name a:hover{
    color:#FFF;
    background-color: white;
    width:94%;
    margin:0 3%;
    text-decoration: none;
}
.content_me .news .btn_gold a{
    width:140px;
    height:44px;
    display:block;
    float:left;
    background-position:0 0;
}
a.btn_gold1{ background:url(../img/btn_gold_normal1.png) no-repeat; width:10px !important;}
a.btn_gold2{ background:url(../img/btn_gold_normal2.png) repeat; width:100%; min-width:80px;}
a.btn_gold3{ background:url(../img/btn_gold_normal3.png) no-repeat; width:10px !important;}

.newstitle{
    width: 100%;
    height:50px;
    display: table;
    background: url(../img/tab_hover.png) repeat;
    position: relative;

    font-family: 'PSL-Display';
    font-size:26px;
    letter-spacing:1px;
    color:#e3bd57;
    text-indent: 20px;
    line-height: 46px;
    border: 1px solid #666;

    -webkit-border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
}
.tourregister{
    width: 100%;
    height:50px;
    display: table;
    background: url(../img/tab_hover.png) repeat;
    position: relative;

    font-family: 'PSL-Display';
    font-size:26px;
    letter-spacing:1px;
    color:#e3bd57;
    text-indent: 20px;
    line-height: 46px;
    border: 1px solid #666;

    -webkit-border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
}
.board > .pagenumber{
    width: 100%;

}
.board > .pagenumber > ul.pagination{
    width: 100%;
    margin:0 auto;
    display: block;
}
.board > .pagenumber > ul.pagination li{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.board > .pagenumber > ul.pagination a{
    width: 20px;
    background: none;
    border: none;
    color: white;
}
.board > .pagenumber > ul.pagination a.active{ color: #e3bd57;}
.board > .pagenumber > ul.pagination a:hover{ color: #e3bd57;}


.footer{
    width:100%;
    height:auto;
    margin:0 auto;
}
.footer .champ{
    width:100%;
    height:auto;
    min-width:1920px;
    display:table;
    margin:-460px 0 -150px 0;
}
.footer .champ_l{
    width:600px;
    height:460px;
    display:block;
    background:url(../img/footer_champ_l.png) no-repeat center 0;
    float:left;
}
.footer .champ_r{
    width:600px;
    height:460px;
    display:block;
    background:url(../img/footer_champ_r.png) no-repeat left 0;
    float:right;
}
.footer .mark{
    width:100%;
    height:150px;
    background:url(../img/footer_mark.png) repeat center 0;
    display:table;
}

.footer .sponsor{
    width:100%;
    min-width:1920px;
    height:119px;
    background:url(../img/sponsor_bar.png) repeat center 0;
    display:table;
    margin:0 auto;
}
.footer .sponsor_logo{
    width:auto;
    height:auto;
    display:table;
    margin:25px auto 0 auto;
}
.footer .contact{
    width:100%;
    height:131px;
    background:url(../img/footer_bar.png) repeat center 0;
    display:table;
    margin:0 auto;
}
.footer .contact_logo{
    width:1000px;
    height:131px;
    display:table;
    margin:0 auto;
}
.footer .contact_logo .box_l{
    width:680px;
    height:auto;
    display:block;
    float:left;
}
.footer .contact_logo .box_l a{
    height:90px;
    display:inline-block;
    background-position:0 0;
    margin:5px 6px;
}
.footer .contact_logo  a.logo_riot{ background:url(../img/logo_riot.png) no-repeat; width:100px;}
.footer .contact_logo  a.logo_garena{ background:url(../img/logo_garena.png) no-repeat; width:210px;}
.footer .contact_logo  a.logo_playlol{ background:url(../img/logo_playlol.png) no-repeat; width:310px;}
.footer .contact_logo .box_l a:hover{ background-position:0 -90px;}

.footer .contact_logo .box_r{
    width:220px;
    height:auto;
    display:block;
    float:right;
    text-align:right;
}
.footer .contact_logo .box_r a{
    height:40px;
    width:40px;
    display:inline-block;
    background-position:0 0;
    margin:10px 8px 18px -4px;
}
.footer .contact_logo  a.logo_facebook{ background: url(../img/logo_facebook.png) no-repeat;}
.footer .contact_logo  a.logo_youtube{ background: url(../img/logo_youtube.png) no-repeat;}
.footer .contact_logo .box_r a:hover{ background-position:0 -40px;}

.footer .contact_logo  .follow{
    width:200px;
    height:auto;
    display:table;
    float:right;
    padding:15px 8px 0 0;
}



.content_me h2{
    color:#b9b9b9;
    font-family: 'PSL-Display';
    font-size:26px;
    text-align:center;
    letter-spacing:1px;
    margin-top: -1px;
}
.content_me h3{
    color:#e3bd57;
    font-family: 'PSL-Display';
    font-size:26px;
    text-align:center;
    letter-spacing:1px;
    margin-top: -1px;
}
.content_me h4{
font-weight:bold;
    font-size:13px;
    color:#e3bd57;
}

.content_me h5{
    color:#5b4918;
    font-weight:bold;
    font-size:11px;
    position:relative;
    bottom:-12px;
}
.content_me h6{
    color:#999;
    margin:5px 8px;
    font-size:11px;
}
.linetext{
    width:100%;
    height:1px;
    background:#1E1E1E;
    margin:12.5px 0;
}
#namepro2{
      float: right;
    margin-left: 6px;
    margin-top: 0px;
    
}


@media (max-width: 1920px){
    .page{ background-position:0 0;}





    .white-popup {
        position: relative;
        background: #111;
        padding: 20px 100px;
        width: auto;
        max-width: 600px;
        margin: 20px auto;
        border: 1px solid #666;
        color: #ccc;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-size: 14px;
    }

    .white-popup > button.mfp-close{
        color: #fff;
    }

    .white-popup a:hover{
        color: #fcdc00;
    }

    .white-popup img{ margin-left: 10px;}
    .white-popup ul li{
        margin-top: 5px;
    }

    .white-popup .fill{
        width: 100%;
        height: auto;
        display: table;
        text-align: center;
        color: #666;
        margin: 20px 0 35px 0;
    }

    .white-popup .fill label{
        color:#666;
        font-size:12px;
        text-align:center;
        display:block;
        width:100%;
    }
    .white-popup .fill input{
        width: 300px;
        height: 25px;
        padding: 5px;
        display: table;
        margin: 0 auto;

        border: 1px solid #666;

        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
    }
    .white-popup .btn_me_all{
        width: 245px;
        margin: 20px auto;
    }
    .white-popup .btn_me{
        width:120px;
        height:44px;
        display:inline-table;
    }
    .white-popup .btn_gold{
        width:120px;
        height:44px;
        display:block;
        position:absolute;
    }
    .white-popup .btn_gold .name a{
        color:#e3bd57;
        font-family: 'PSL-Display';
        font-size:22px;
        text-align:center;
        letter-spacing:1px;
        display:block;
        width:100%;
        text-decoration:none;
        position:relative;
        top:-41px;
    }
    .white-popup .btn_gold .name a:hover{
        color:#FFF;
        background:url(../img/230x100_shadow1.png) center 0;
        width:94%;
        margin:0 3%;
    }
    .white-popup .btn_gold a{
        width:100px;
        height:44px;
        display:block;
        float:left;
        background-position:0 0;
    }
}

.boardcontent > .info {
    margin-top: 50px;
}

.user {
    width: 1435px;
    position: relative;
    z-index: 1;
}

.user > div {
    float: right;
}

.user > div > * {
    display: inline-block;
}

.user > div > .logout-btn {
    background: url(../img/logout-btn.png) top center no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    top: 10px;
}

.user > div > .logout-btn:hover {
    background-position: 0 -30px;
}